<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml" xmlns="http://www.w3.org/1999/html">
<!--<head th:replace="common/header :: common-header" />-->
<head>
    <head th:replace="common/header :: common-header"/>
    <link rel="stylesheet" href="/css/ava.css">
</head>

<body class="d-flex flex-column">
<div th:replace="common/header :: navbar"></div>

<div class="container page-content">
    <form id="profileForm" th:action="@{/update-user-info}" novalidate method="post">
    <div class="row user-profile">

            <div class="col-md-4 col-lg-3 profile-left">
                <div class="card">
                    <div class="profile-pic-div">
                        <img th:src="@{'/image/user/' + ${user.avatar}}"
                             id="photo" width="100" height="100" alt="User" class="rounded-circle mb-3">
                        <input type="file" id="file" name="avatar" th:value="${user.avatar}">
                        <label for="file" id="uploadBtn"><i class="fa-solid fa-camera"></i></label>
                    </div>

                    <div>
                        <h5 class="bold mb-0" id="name_ava" th:text="${#strings.capitalize(user.username)}"></h5>
                    </div>

                    <div class="list-group list-group-flush">
                        <a th:href="@{/my-profile}" class="list-group-item list-group-item-action active"><i
                                data-feather="user" class="mr-3"></i>Thông tin cá nhân</a>
                        <a th:href="@{/my-orders}" class="list-group-item list-group-item-action"><i
                                data-feather="shopping-bag" class="mr-3"></i> Orders</a>
                        <a th:href="@{/my-address}" class="list-group-item list-group-item-action"><i data-feather="map"
                                                                                                      class="mr-3"></i>
                            Địa chỉ</a>
                        <a th:href="@{/logout}" class="list-group-item list-group-item-action text-danger"><i
                                data-feather="log-out" class="mr-3"></i> Đăng xuất</a>
                    </div>
                </div>
            </div>

            <div class="col mt-3 mt-md-0 infoUser-right">
                <div th:if="${updateSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Thông tin đã được cập nhật!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${incorrectPassword}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Mật khẩu sai</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3>Thông tin cá nhân</h3>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="firstName">Họ</label>
                                <input type="text" class="form-control"
                                       id="firstName" name="firstName" th:value="${user.firstName}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lastName">Tên</label>
                                <input type="text" class="form-control"
                                       id="lastName" name="lastName" th:value="${user.lastName}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="userName">Tên người dùng</label>
                                <input required="required" type="text" class="form-control"
                                       th:classappend="${usernameExists} ? is-invalid"
                                       id="userName" name="username" th:value="${user.username}">
                                <div class="invalid-feedback">Người dùng đã tồn tại, vui lòng nhập lại</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="email">Email đã tồn tại</label>
                                <input required="required" type="text" class="form-control"
                                       th:classappend="${emailExists} ? is-invalid"
                                       id="email" name="email" th:value="${user.email}">
                                <div class="invalid-feedback">Email đã tồn tại</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="txtNewPassword">Mật khẩu mới</label>
                                <input type="password" class="form-control"
                                       id="txtNewPassword" name="newPassword" autocomplete="new-password">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="txtConfirmPassword">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control"
                                       id="txtConfirmPassword">
                                <div class="invalid-feedback">Mật khẩu không khớp</div>
                            </div>
                            <div class="form-group col-12">
                                <button id="updateUserInfoButton" type="button" class="btn btn-primary">Cập nhật
                                </button>
                            </div>
                        </div>

                        <!--  password check modal -->
                        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Type your current
                                            password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="password" class="form-control" id="password" name="password">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  /password check modal -->
                    </div>
                </div>
            </div>

    </div>
    </form>

</div> <!--  end container -->

<div th:replace="common/header :: footer"></div>
<div th:replace="common/header :: body-scripts"></div>

<script>
    function checkPasswordMatch() {
        var password = $("#txtNewPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();
        if (password == "" && confirmPassword == "") {
            $("#updateUserInfoButton").attr("disabled", false);
        } else {
            if (password != confirmPassword) {
                $("#updateUserInfoButton").attr("disabled", true);
                $("#txtConfirmPassword").addClass("is-invalid");
            } else {
                $("#updateUserInfoButton").attr("disabled", false);
                $("#txtConfirmPassword").removeClass("is-invalid");
            }
        }
    }

    $(document).ready(function () {
        $("#txtConfirmPassword").keyup(checkPasswordMatch);
        $("#txtNewPassword").keyup(checkPasswordMatch);
        $('#updateUserInfoButton').click(function () {
            if ($('#txtNewPassword').val() == '') {
                $('#profileForm').submit()
            } else {
                $('#passwordModal').modal('show');
            }
            // var fileName = document.getElementById("photo").files[0].name;
            // $('#photo').setAttribute("src", "/image/user/" + fileName + ".png");
        });

    });

    const imgDiv = document.querySelector('.profile-pic-div');
    const img = document.querySelector('#photo');
    const file = document.querySelector('#file');
    const uploadBtn = document.querySelector('#uploadBtn');


    imgDiv.addEventListener('mouseenter', function () {
        uploadBtn.style.display = "block";
    });


    imgDiv.addEventListener('mouseleave', function () {
        uploadBtn.style.display = "none";
    });


    file.addEventListener('change', function () {
        const choosedFile = this.files[0];

        if (choosedFile) {

            const reader = new FileReader(); //FileReader is a predefined function of JS

            reader.addEventListener('load', function () {
                img.setAttribute('src', reader.result);
            });

            reader.readAsDataURL(choosedFile);

        }
    });

</script>
</body>
</html>